@import "reset.css";
@import"/portfolio/portfolio-projects.css";
*{
    box-sizing:border-box;
}
html,body{
    font-family:"Lato", sans-serif;
    height:100%;
    font-weight:400;
    line-height:1.8em;
    color:#666;

}
a{
    text-decoration:none;
}
/*
///////////////////////////////////////////////////////////////////////////////////////////////////
*/
header{
    background-color:black;
    padding:10px;
    position:fixed;
    width:100%;
    opacity:0.8;

}
header a{
    color:white;
    text-decoration:none;
    font-size:12px;
    font-weight:300;
    position:relative;
}
a:hover{
  cursor: pointer;
}

header .logo-area{
  color:white;
    display:inline-block;
    width:10%;
    position:relative;
    box-sizing: border-box;

}

header .logo-area a{
  color:white;
    text-decoration:none;
    font-size:20px;
    position:fixed;
}

header .menu ul li {
    display:inline-block;
    width:10%;
    text-align:right;
    padding-right:15px;
    position:relative;
    float:right;
}
/*
///////////////////////////////////////////////////////////////////////////////////////////////////
*/

.img-top{
  background:url('../img/city4.jpg');
  min-height:100%;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  z-index:-1;
  opacity:.9;
}
.img-mid{
  background:url('../img/city5.jpg');
  min-height:400px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  z-index:-1;

}
.img-bottom{
  background:url('../img/city5.jpg');
  min-height:400px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  z-index:-1;
}
div .border{
  text-align:center;
  font-size: 40px;
  position: absolute;
  color: 	#F8F8F8;
  top:50%;
  width:100%;
  letter-spacing:8px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight:500;
  text-shadow: 2px 1px 4px rgba(150, 150, 150, 0.95);
   transform: translateY(-50%);
}
div .border{
    animation-duration: 1s;
    animation-fill-mode: both;
}
div .border { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}
.section{
  text-align:center;
  padding:20px 80px;
}
/* .section-dark{
  background-color:#282e34;
  color:#ddd;
} */
/* .section-dark h2{
  color:white;
} */
.img-bottomm{
  background:url('../img/city1.jpg');
  min-height:400px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  z-index:-1;
}
section i{
opacity:.7;
font-size:30px;
padding:20px;
}
section h2{
font-size:40px;
margin-bottom:15px;
color:grey;
text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.95);
font-weight:600;
}
section p{
font-size:25px;
}

.section .projects1{
  margin-bottom:10px;
  padding:0;

}
.section .project-res1{
  background: url("food-app.PNG") no-repeat
    center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:220px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:inline-block;
    margin:15px;
    z-index:0;
    opacity:1;
    transition: 0.4s;
    display:inline-block;
    width:25%;
}
/* .section  .project-res2{
  background: url("../img/preview2.PNG") no-repeat
    center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:220px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:inline-block;
    margin:15px;
    z-index:0;
    opacity:1;
    transition: 0.4s;
    display:inline-block;
    width:25%;
}
.section .project-res3{
  background: url("../img/preview3.PNG") no-repeat
    center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:220px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:inline-block;
    margin:15px;
    z-index:0;
    transition: 0.4s;
    display:inline-block;
    width:25%;
} */

.skill-icons div{
  height: 350px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:inline-block;
    margin-right:15px;
    z-index:0;
    opacity:1;
    transition: 0.4s;
    display:inline-block;
    width:20%;
}
.skill-icons .js{
  background: url('../img/js-logo.png')
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:200px 200px;
}
.skill-icons .react{
  background: url('../img/react-logo.png')
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:200px 200px;
}
.skill-icons .html{
  background: url('../img/html-logo.png')
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:200px 200px;
}
.skill-icons .css{
  background: url('../img/css-logo1.png')
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:200px 200px;
}

#fade-in{
  opacity:0;
  transition:opacity 250ms ease-in;
}
#fade-in.appear{
  opacity:1;
}
#fade-in:hover{
  opacity:.2;
  cursor:pointer;
}
.projects1 a{
  color:black;
  background:white;
  border:1px solid black;
  padding:10px;
  border-radius:5px;
  transition:.4s;
  font-weight:500;
  position:relative;
  right:280;
  top:20;
}
.projects1 a:hover{
  background:#A8A8A8;
  color:white;
}
/*
/////////////////////////////////   RESPONSIVE DESIGN  ///////////////////////////////////////////////
*/

 @media screen and (max-width:500px){
  header{
    display:none;
  }
  section .about-info{
    font-size:100%;
  }
  .section .project-res1{
    position:relative;
    width:100%;
    display:block;
    right:14;
  }
  .section .project-res2{
    position:relative;
    width:100%;
    display:block;
    right:14;
  }
  .section .project-res3{
    position:relative;
    width:100%;
    display:block;
    right:14;
  }
}
@media screen and (max-width:580px){
  header{
    display:none;
  }
  section .about-info{
    font-size:100%;
  }

 .section .project-res1{
   position:relative;
   width:100%;
   display:block;
   right:14;
 }
 .section .project-res2{
   position:relative;
   width:100%;
   display:block;
   right:14;
 }
 .section .project-res3{
   position:relative;
   width:100%;
   display:block;
   right:14;
 }
 .skill-icons div{
   display:block;
   width:70%;
   text-align:center;
   position:relative;
   left:40;
 }
}
@media screen and (max-width:1810px){
  .projects1 a{
    display:none;
  }
}
