*{
    box-sizing:border-box;
}
html,body{
    font-family:"Lato", sans-serif;
    height:100%;
    font-size:16px;
    font-weight:400;
    line-height:1.8em;
    color:#666;

}
a{
    text-decoration:none;
}
/*
///////////////////////////////////////////////////////////////////////////////////////////////////
*/
header{
    background-color:black;
    padding:10px;
    position:fixed;
    width:100%;
    opacity:0.8;


}
header a{
    color:white;
    text-decoration:none;
    font-size:12px;
    font-weight:300;
    position:relative;

}
a:hover{
  cursor: pointer;
}

header .logo-area{
  color:white;
    display:inline-block;
    width:10%;
    position:relative;

}

header .logo-area a{
  color:white;
    text-decoration:none;
    font-size:20px;
    position:absolute;
}

header .menu ul li {
    display:inline-block;
    width:10%;
    text-align:right;
    padding-right:15px;
    position:relative;
    float:right;
}
/*
///////////////////////////////////////////////////////////////////////////////////////////////////
*/

.img-top{
  background:url('../../img/city7.jpg');
  min-height:100%;
  position:relative;
  background-position:top;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  z-index:-1;
}
.img-top:hover{
  opacity:0;
}

div .border{
  text-align:center;
  font-size: 50px;
  position: absolute;
  color:yellow;
  top:50%;
  width:100%;
  letter-spacing:8px;
  text-transform: uppercase;
}

/*
/////////////////////////////////   RESPONSIVE DESIGN  ///////////////////////////////////////////////
*/

@media screen and (max-width:320px){
  div .border{
    background:blue;
  }
}
